extends layout.pug 

block content 
  p REQUEST8IN allows you to generate URLs which will log any HTTP requests sent to them.
  .create-bin-button 
    #homepage-create-bin-button 
      a(href="")
        button(id="create-a-bin") Create a Bin!