html 
  head 
    title Request8in 
    block scripts
    link(rel='stylesheet', href="/css/css.css", type="text/css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet")

body 
  .header
    .header-content
      h1 Request8in 
      h2 An HTTP Request Collector
  
  .content
    block content 

  .sidebar 
    .sidebar-header
      form(action="" method="post")
        input(type="image" src="images/plus.png" alt="Create a new bin" height="20px" width="20px") 
      h3 Your bins
  .footer
    p ©Team8 2022