mixin sidebarItem(id)
  a(href="requestbin.mohamadelchanti.com/bin/#{id}/view") #{id}

html 
  head 
    title Request8in 
    block scripts
    link(rel='stylesheet', href="/css/css.css", type="text/css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet")
    script(src='scripts/create-bin.js')
    script(src='scripts/load-local-bins.js')

body 
  .header
    .header-content
      h1 Request8in 
      h2 An HTTP Request Collector
  
  .content
    block content 

  .sidebar 
    .sidebar-header
      a(href='/')#create-bin-button
        img(src="/images/plus-purple.png" width="30px" height="30px")
      h3 Your bins
    #sidebar-items

  .footer
    p ©Team8 2022


