html {
  --main-bg-color: #347fc4;
  --component-color: #272838;
  --request-area-bg: #19191d;
  --border-color: #989fce;
  --text-color: #989fce;
  --border-radius: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 15% 80%;
  grid-template-rows: 10% auto 10%;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer";
  column-gap: 10px;
  row-gap: 10px;
}

.header {
  grid-area: header;
  background-color: var(--component-color);
  border-radius: var(--border-radius);
}

.header-content {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5%;
}

.header-content a  {
  text-decoration: none;
}

.content {
  grid-area: content;
  background-color: var(--component-color);
  padding: 2px 0px 0px 10px;
  border-radius: var(--border-radius);
}

#homepage-create-bin-button button {
  padding: 2% 3% 2% 3%;
  border-style: solid;
  border-width: 2px;
  margin: 5%;
  font-size: 2em;

  color: var(--text-color);
  border-color: var(--border-radius);
  background-color: var(--component-color);
  cursor: pointer;
}

.sidebar {
  grid-area: sidebar;
  padding-left: 10%;
  background-color: var(--component-color);
  border-radius: var(--border-radius);
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}

#sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bin-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bin-header {
  padding-left: 2%;
}

.requests-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0% 2% 2% 2%;
}

.request-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--request-area-bg);
  border-radius: var(--border-radius);
  padding: 1%;
  
}

.request-grid-topline-content {
  display: grid;
  grid-template-columns: 4fr 5fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "topline topline"
  "parsed_content headers";
  column-gap: 10px;
  row-gap: 20px;
  overflow-x:hidden;
}

.request-topline {
  grid-area: topline;
  border-bottom: var(--border-color);
  border-width: 1px;
  border-style: hidden hidden solid hidden;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 30px;
  padding-bottom: 4px;
}

.request-topline-method {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  padding: 0 10px 0 10px;
  border-radius: var(--border-radius);
}

.request-topline-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.request-headers {
  grid-area: headers;

}

.request-parsed-content {
  grid-area: parsed_content;
}

.request-raw-nowrap {
  white-space: nowrap;
  display: grid;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  /* play with this to change height of the children, 50% will fill half */
  grid-template-columns: unset;
  /* do not set template columns and rows */
  grid-template-rows: unset;
  overflow-x: scroll;
}

.footer {
  background-color: var(--component-color);
  grid-area: footer;
  padding-left: 10px;
  border-radius: var(--border-radius);
}

a {
  color: var(--text-color)
}

img#plus {
  transition: transform .7s ease-in-out;
}

img#plus:hover {
  transform: rotate(360deg);
}

#create-a-bin:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {

}

#delete-button {
  border-style: solid;
  border-width: 2px;
  font-size: 1em;

  color: var(--text-color);
  border-color: var(--border-radius);
  background-color: var(--component-color);
  cursor: pointer;
}
