html {
  --main-bg-color: #347fc4;
  --component-color: #272838;
  --request-area-bg: #19191d;
  --border-color: #989fce;
  --text-color: #989fce;
  --border-radius: 4px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 15% auto;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
  "header header"
  "sidebar content"
  "sidebar footer";
  column-gap: 10px;
  row-gap: 10px;
}

.header {
  grid-area: header;
  background-color: var(--component-color);
  border-radius: var(--border-radius);
}

.header-content {
  margin-left: 2%;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5%;
}

.content {
  grid-area: content;
  background-color: var(--component-color);
  padding: 2px 0px 0px 10px;
  border-radius: var(--border-radius);
}

.sidebar {
  grid-area: sidebar;
  padding-left: 10%;
  background-color: var(--component-color);
  border-radius: var(--border-radius);
}

.sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5%;
}

#sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bin-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bin-header {
  padding-left: 2%;
}

.requests-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0% 2% 2% 2%;
}

.request-container {
  background-color: var(--request-area-bg);
  border-radius: var(--border-radius);
  padding: 1%;
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "topline topline"
  "parsed_content headers"
  "raw_content raw-content";
  column-gap: 10px;
  row-gap: 20px;
}

.request-topline {
  grid-area: topline;
  border-bottom: var(--border-color);
  border-width: 1px;
  border-style: hidden hidden solid hidden;

  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 30px;
  padding-bottom: 4px;
}

.request-topline-method {
  border-style: solid;
  border-color: var(--border-color);
  border-width: 1px;
  padding: 0 10px 0 10px;
  border-radius: var(--border-radius);
}

.request-topline-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.request-headers {
  grid-area: headers;
}

.request-parsed-content {
  grid-area: parsed_content;
}

.request-raw-content {
  grid-area: raw_content;
}



.footer {
  background-color: var(--component-color);
  grid-area: footer;
  padding-left: 10px;
  border-radius: var(--border-radius);
}

a {
  color: var(--text-color)
}
